<div class="container">
    <h1 class="title">જય અધ્યાશક્તિ આરતી</h1>
    <div class="aarti-content">
        <p>જય અધ્યાશક્તિ માતા, જય અધ્યાશક્તિ<br>અખંડ બ્રહ્માંડ દીપાવ્યા, પદવે પ્રગટ્યા માતા<br>ઓમ જયો જયો માતા
            જગદમ્બે....</p>
        <p>દ્રિતિયા બે સ્વરૂપ શિવશક્તિ જાણું<br>બ્રહ્મા ગણપતિ ગાવું હર ગાવું હર માતા... ઓમ જયો...<br>ત્રીતિયા ત્રણ
            સ્વરૂપ ત્રિભુવનમાં બેસા<br>ત્રાયથાકિ તાર્વણી, તું તાર્વણી માતા... ઓમ જયો...</p>
        <p>ચોથા ચતુર મહાલક્ષ્મી માતા સચ્રા ચાર વ્યાપ્ય<br>ચારે ભુજા ચૌદિશા પ્રગટ્યા દક્ષિણ માતા... ઓમ જયો...</p>
        <p>પંચમી પંચ ઋષિ પંચમી ગુણ પદ્મા<br>પંચ સહસ્ત્ર ત્ય સૌહીયે પંછે તત્વો માતા... ઓમ જયો...</p>
        <p>શષ્ઠી તું નારાયણી મહિષાસુર માર્યો<br>નરનારી ના રૂપે વ્યાપ્યા સાધ્ધે માતા... ઓમ જયો...</p>
        <p>સપ્તમી સપ્ત પાતાલ સંધ્યા સાવિત્રિ<br>ગૌ ગંગા ગાયત્રી ગૌરી ગીતા માતા... ઓમ જયો...</p>
        <p>અષ્ટમી અષ્ટ ભુજા આયી આનંદા<br>સુનિવર મુનિવર જન્મ્યા દેવ દૈત્યો માતા... ઓમ જયો...</p>
        <p>નવમી નવ કુલ નાગ સેવે નવ દુર્ગા<br>નવરાત્રીના પૂજન શિવરાત્રીના આર્ચન કિધા હર બ્રહ્મા... ઓમ જયો...</p>
        <p>દશમી દશ અવતાર જય વિજયદશમી<br>રામે રામ રામદ્યા રાવણ રોદ્યો માતા... ઓમ જયો...</p>
        <p>એકાદશી અગિયારશ કાટ્યાયનીકા માતા<br>કામ દુર્ગા કાલિકા શ્યામા ને રામા... ઓમ જયો...</p>
        <p>બારસે બાર રૂપ બહુચરી અંબે માતા<br>બટુક ભૈરવ સોહીયે કલ ભૈરવ સોહીયે તારા છે તુંજ<br>માતા... ઓમ જયો...</p>
        <p>ત્રેસે તુલજારૂપ તમે તરુણimata<br>બ્રહ્મા વિશ્નુ સદા શિવ ગુણ તારા ગાતા... ઓમ જયો...</p>
        <p>ચૌદસે ચૂડા રૂપ ચંડી ચમુન્ડા<br>ભવ ભક્તિ કઈ આપો, ચતુરાઈ કઈ આપો સિંહવાહિની માતા...<br>ઓમ જયો...</p>
        <p>પૂણમે kumbh ભર્યો સંભાધો કરુણા<br>વશિષ્ઠ દેવે વાખ્યા, માર્કંડ દેવે વાખ્યા ગાયે શુભ<br>કાવિતા....<br>ઓમ જયો...
        </p>
        <p>સવન્ત સોલે સત્તાવન સોલસે બાવીસ માતા<br>સવન્ત સોલે પ્રગટ્યા રેવા ને તીર માતા ગંગા ને તીર....<br>ઓમ જયો...</p>
        <p>એકમે એક સ્વરૂપ, અંતર નવ ધારસો<br>ભોળા ભવાણી ને ભજતા ભવસાગર તારસો...<br>ઓમ જayo jayo<br>માતા જગદમ્બે....</p>
        <p>ત્રંબાવતી નગરિ માતા રૂપાવતી નગરિ<br>સોલ સહસ્ત્ર ત્ય સોહીયે ક્ષમા કરો ગૌરી માતા દયાં કરો<br>ગૌરી.... ઓમ
            જયો....</p>
        <p>માતા ની ચૂંડી લાલ ગુલાલ, શ્રેષ્ઠ માવડી<br>આંગડ કંકડ નાચે, જય બહુચરી... ઓમ જયો....</p>
        <p>શિવ શક્તિ ની આરતી જેમ ભાવે ગાવે<br>ભાને શિવાનંદ સ્વામી સુખસ્માપતિ થાશે હર કૈલાશે<br>જશે,<br>માતા અંબા દુઃખ
            હરશે.... ઓમ જયો....</p>
        <p>જય અધ્યાશક્તિ માતા, જય અધ્યાશક્તિ<br>અખંડ બ્રહ્માંડ ની પાવ્યા, પદવે પ્રગટ્યા માતા<br>ઓમ જયો જયો માતા
            જગદમ્બે....</p>
        <p>કપૂરા ગૌરમ કરુણાવતરમ<br>સંસાર સારમ ભુજાંદ્ર હારમ<br>સદા વસંતમ હૃદય રવિંદે<br>ભવં ભાવાની સહીતમ નમામિ</p>
    </div>
</div>