/* slider.component.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* The hamburger menu button (non-sticky) */
  .open-btn {
    font-size: 30px;
    position: absolute; /* Use absolute position to place the button */
    top: 7px; /* Position it near the top */
    left: 7px; /* Position it from the left side */
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    z-index: 10; /* Ensure it's above other content */
  }

  .sidebar-content li.active-parent {
    background-color: #007bff; /* Change background for the li when active */
  }
  
  .sidebar-content li.active-parent a {
    color: #fff; /* Change text color when parent is active */
  }

  
  .font-13{
    font-size: 2vw;
  }
  
  .open-btn:hover {
    color: #444;
  }
  
  .material-icons {
    font-size: 36px;
  }
  
  /* Sticky Sidebar */
  .sidebar {
    position: fixed; /* Fixed on the left side of the screen */
    top: 0; /* Sticks the sidebar to the top */
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100vh; /* Full height of the viewport */
    background-color: white; /* White background */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding-top: 60px; /* Padding to avoid overlap with the top button */
    overflow-y: auto; /* Enables scrolling when content overflows */
    transition: left 0.3s ease; /* Smooth sliding animation */
    z-index: 100;
  }
  
  .sidebar.open {
    left: 0; /* Makes the sidebar slide in */
  }
  
  .sidebar-content {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 100%; /* To make sure sidebar content does not exceed height */
    overflow-y: auto;
  }
  
  /* Hide scrollbar when the condition is met */
  .sidebar-content::-webkit-scrollbar {
    display: none;
  }
  
  .sidebar-content.scrollbar-visible::-webkit-scrollbar {
    display: block;
  }
  
  .sidebar-content li {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .sidebar-content li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  
  .sidebar-content li:hover {
    background-color: #f4f4f4;
  }
  
  .sidebar-content li a:hover {
    color: #007BFF;
  }
  
  /* Close button inside the sidebar */
  .close-btn {
    font-size: 28px;
    color: black;
    background: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  
  .menu_cls{
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    color:black
  }