
:host {
    color: inherit !important; /* Inherit text color from body */
    background-color: inherit !important; /* Inherit background color from body */
  }

  .toggle_btn{
    position: absolute;
    right: 10px;
    padding:5px;
  }