<div class="container">
    <div class="content">
        <div class="dohas">
            <h2>દોહા</h2>
            <p>શ્રી ગુરુ ચરણ સરોજ રજ નિજમન મુકુર સુધારિ ।</p>
            <p>વરણૌ રઘુવર વિમલયશ જો દાયક ફલચારિ ॥</p>
            <p>બુદ્ધિહીન તનુજાનિકૈ સુમિરૌ પવન કુમાર ।</p>
            <p>બલ બુદ્ધિ વિદ્યા દેહુ મોહિ હરહુ કલેશ વિકાર ॥</p>
        </div>
        
        <div class="chaupai">
            <h2>ચૌપાઈ</h2>
            <p>જય હનુમાન જ્ઞાન ગુણ સાગર ।</p>
            <p>જય કપીશ તિહુ લોક ઉજાગર ॥ 1 ॥</p>
            <p>રામદૂત અતુલિત બલધામા ।</p>
            <p>અંજનિ પુત્ર પવનસુત નામા ॥ 2 ॥</p>
            <p>મહાવીર વિક્રમ બજરંગી ।</p>
            <p>કુમતિ નિવાર સુમતિ કે સંગી ॥ 3 ॥</p>
            <p>કંચન વરણ વિરાજ સુવેશા ।</p>
            <p>કાનન કુંડલ કુંચિત કેશા ॥ 4 ॥</p>
            <p>હાથવજ્ર ઔ ધ્વજા વિરાજૈ ।</p>
            <p>કાંથે મૂંજ જનેવૂ સાજૈ ॥ 5 ॥</p>
            <p>શંકર સુવન કેસરી નંદન ।</p>
            <p>તેજ પ્રતાપ મહાજગ વંદન ॥ 6 ॥</p>
            <p>વિદ્યાવાન ગુણી અતિ ચાતુર ।</p>
            <p>રામ કાજ કરિવે કો આતુર ॥ 7 ॥</p>
            <p>પ્રભુ ચરિત્ર સુનિવે કો રસિયા ।</p>
            <p>રામલખન સીતા મન બસિયા ॥ 8॥</p>
            <p>સૂક્ષ્મ રૂપધરિ સિયહિ દિખાવા ।</p>
            <p>વિકટ રૂપધરિ લંક જલાવા ॥ 9 ॥</p>
            <p>ભીમ રૂપધરિ અસુર સંહારે ।</p>
            <p>રામચંદ્ર કે કાજ સંવારે ॥ 10 ॥</p>
            <p>લાય સંજીવન લખન જિયાયે ।</p>
            <p>શ્રી રઘુવીર હરષિ ઉરલાયે ॥ 11 ॥</p>
            <p>રઘુપતિ કીન્હી બહુત બડાયી (ઈ) ।</p>
            <p>તુમ મમ પ્રિય ભરત સમ ભાયી ॥ 12 ॥</p>
            <p>સહસ્ર વદન તુમ્હરો યશગાવૈ ।</p>
            <p>અસ કહિ શ્રીપતિ કંઠ લગાવૈ ॥ 13 ॥</p>
            <p>સનકાદિક બ્રહ્માદિ મુનીશા ।</p>
            <p>નારદ શારદ સહિત અહીશા ॥ 14 ॥</p>
            <p>યમ કુબેર દિગપાલ જહાં તે ।</p>
            <p>કવિ કોવિદ કહિ સકે કહાં તે ॥ 15 ॥</p>
            <p>તુમ ઉપકાર સુગ્રીવહિ કીન્હા ।</p>
            <p>રામ મિલાય રાજપદ દીન્હા ॥ 16 ॥</p>
            <p>તુમ્હરો મંત્ર વિભીષણ માના ।</p>
            <p>લંકેશ્વર ભયે સબ જગ જાના ॥ 17 ॥</p>
            <p>યુગ સહસ્ર યોજન પર ભાનૂ ।</p>
            <p>લીલ્યો તાહિ મધુર ફલ જાનૂ ॥ 18 ॥</p>
            <p>પ્રભુ મુદ્રિકા મેલિ મુખ માહી ।</p>
            <p>જલધિ લાંઘિ ગયે અચરજ નાહી ॥ 19 ॥</p>
            <p>દુર્ગમ કાજ જગત કે જેતે ।</p>
            <p>સુગમ અનુગ્રહ તુમ્હરે તેતે ॥ 20 ॥</p>
            <p>રામ દુઆરે તુમ રખવારે ।</p>
            <p>હોત ન આજ્ઞા બિનુ પૈસારે ॥ 21 ॥</p>
            <p>સબ સુખ લહૈ તુમ્હારી શરણા ।</p>
            <p>તુમ રક્ષક કાહૂ કો ડર ના ॥ 22 ॥</p>
            <p>આપન તેજ સમ્હારો આપૈ ।</p>
            <p>તીનોં લોક હાંક તે કાંપૈ ॥ 23 ॥</p>
            <p>ભૂત પિશાચ નિકટ નહિ આવૈ ।</p>
            <p>મહવીર જબ નામ સુનાવૈ ॥ 24 ॥</p>
            <p>નાસૈ રોગ હરૈ સબ પીરા ।</p>
            <p>જપત નિરંતર હનુમત વીરા ॥ 25 ॥</p>
            <p>સંકટ સે હનુમાન છુડાવૈ ।</p>
            <p>મન ક્રમ વચન ધ્યાન જો લાવૈ ॥ 26 ॥</p>
            <p>સબ પર રામ તપસ્વી રાજા ।</p>
            <p>તિનકે કાજ સકલ તુમ સાજા ॥ 27 ॥</p>
            <p>ઔર મનોરથ જો કોયિ લાવૈ ।</p>
            <p>તાસુ અમિત જીવન ફલ પાવૈ ॥ 28 ॥</p>
            <p>ચારો યુગ પ્રતાપ તુમ્હારા ।</p>
            <p>હૈ પ્રસિદ્ધ જગત ઉજિયારા ॥ 29 ॥</p>
            <p>સાધુ સંત કે તુમ રખવારે ।</p>
            <p>અસુર નિકંદન રામ દુલારે ॥ 30 ॥</p>
            <p>અષ્ઠસિદ્ધિ નવ નિધિ કે દાતા ।</p>
            <p>અસ વર દીન્હ જાનકી માતા ॥ 31 ॥</p>
            <p>રામ રસાયન તુમ્હારે પાસા ।</p>
            <p>સદા રહો રઘુપતિ કે દાસા ॥ 32 ॥</p>
            <p>તુમ્હરે ભજન રામકો પાવૈ ।</p>
            <p>જન્મ જન્મ કે દુખ બિસરાવૈ ॥ 33 ॥</p>
            <p>અંત કાલ રઘુપતિ પુરજાયી । [રઘુવર]</p>
            <p>જહાં જન્મ હરિભક્ત કહાયી ॥ 34 ॥</p>
            <p>ઔર દેવતા ચિત્ત ન ધરયી ।</p>
            <p>હનુમત સેયિ સર્વ સુખ કરયી ॥ 35 ॥</p>
            <p>સંકટ ક(હ)ટૈ મિટૈ સબ પીરા ।</p>
            <p>જો સુમિરૈ હનુમત બલ વીરા ॥ 36 ॥</p>
            <p>જૈ જૈ જૈ હનુમાન ગોસાયી ।</p>
            <p>કૃપા કરહુ ગુરુદેવ કી નાયી ॥ 37 ॥</p>
            <p>યહ શત વાર પાઠ કર કોયી । [જો]</p>
            <p>છૂટહિ બંદિ મહા સુખ હોયી ॥ 38 ॥</p>
            <p>જો યહ પડૈ હનુમાન ચાલીસા ।</p>
            <p>હોય સિદ્ધિ સાખી ગૌરીશા ॥ 39 ॥</p>
            <p>તુલસીદાસ સદા હરિ ચેરા ।</p>
            <p>કીજૈ નાથ હૃદય મહ ડેરા ॥ 40 ॥</p>
        </div>

        <div class="dohas-footer">
            <p>પવન તનય સંકટ હરણ - મંગળ મૂરતિ રૂપ્ ।</p>
            <p>રામ લખન સીતા સહિત - હૃદય બસહુ સુરભૂપ્ ॥</p>
            <p>સિયાવર રામચંદ્રકી જય । પવનસુત હનુમાનકી જય । બોલો ભાયી સબ સંતનકી જય ।</p>
        </div>
    </div>
</div>